@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --ghost-white: #f8f9fd;
  --fire-bush: #e99c2f;
  --granite-gray: #626a6a;
  --baltic-sea: #33383c;
  --tans: all 0.5s ease-in-out;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Barlow", sans-serif;
}

body {
  line-height: 1.5;
  font-weight: 400;
  min-width: 450px;
}

img {
  display: block;
  width: 100%;
}

button {
  cursor: pointer;
  outline: 0;
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.text {
  font-size: 1.1rem;
  margin: 1.2rem 0;
  line-height: 1.7;
  opacity: 0.7;
}

/* ------------------------------------------------------------------- */

header {
  background: var(--ghost-white);
}

header .container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  padding: 1.5rem 1rem !important;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 1.5rem 0;
  background: var(--ghost-white);
  z-index: 777;
}

.navbar-brend {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--granite-gray);
  justify-self: start;
}

.navbar-toggler {
  justify-self: center;
  border: none;
  color: #fff;
  background: var(--fire-bush);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 1.5rem;
  position: relative;
}

.navbar-collapse {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 0;
  overflow: hidden;
  transition: var(--tans);
}

.navbar-collapse:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(233, 156, 47, 0.95);
  border-radius: 0 0 50% 50%/ 0 0 100% 100%;
  transform: scalex(1.5);
}
/* ---------------------- js related class  */
.show-navbar {
  height: 230px;
}
/* --------------------  ------------------- */

.navbar-collapse ul {
  list-style: none;
}

.navbar-collapse li {
  margin: 0.7rem 0;
  letter-spacing: 2px;
  text-align: center;
}

.navbar-collapse a {
  font-size: 1.15rem;
  opacity: 0.7;
  color: #fff;
}

.cart {
  justify-self: flex-end;
  padding-right: 8px;
}

#cart-btn {
  border: none;
  font-size: 1.5rem;
  background: none;
  color: var(--granite-gray);
  position: relative;
}

#cart-count-info {
  position: absolute;
  top: -12px;
  right: -8px;
  background: var(--fire-bush);
  color: #fff;
  font-size: 0.8rem;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* font-weight: 600; */
}

.cart-container {
  position: absolute;
  overflow-y: scroll;
  background: #fff;
  width: 100%;
  height: 600px;
  top: 100%;
  left: 0;
  right: 0;
  box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.21);
  display: none;
}

.cart-container::-webkit-scrollbar {
  width: 8px;
}

.cart-container::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 15px;
}

/* ---------------------- js related class  */
.show-cart-container {
  display: block;
}
/* --------------------  ------------------- */

.cart-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 0.5rem;
  align-items: center;
  position: relative;
  padding: 1.2rem 0.6rem;
  height: 140px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.21);
}

.cart-item:last-child {
  border-bottom: none;
}

.cart-item-del-btn {
  position: absolute;
  right: 15px;
  top: 15px;
  padding: 0.05rem 0.45rem;
  font-size: 1rem;
  background: var(--fire-bush);
  border: none;
  color: #fff;
  border-radius: 5px;
}

.cart-item img {
  width: 80px;
}

.cart-item-info {
  text-align: center;
}

.cart-item-info span {
  display: block;
}

.cart-total {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: var(--fire-bush);
  color: #fff;
}

.cart-total h3 {
  margin-right: 0.2rem;
  font-size: 1.3rem;
}

#cart-total-value {
  font-size: 1.3rem;
  font-weight: 500;
}

.banner {
  flex: 1;
  padding-top: 6rem;
  text-align: center;
}

.banner > div {
  margin: 3rem 0;
}

.banner .text {
  font-weight: 500;
  font-size: 1.15rem;
  opacity: 0.45;
}

.btns {
  margin: 1.5rem 0;
}

.btn {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
  border: 1px solid var(--fire-bush);
  background: var(--fire-bush);
  color: #fff;
  padding: 0.95rem 0;
  letter-spacing: 2px;
  display: block;
  width: 180px;
  margin: 0.6em auto;
  transition: var(--tans);
}

.btns .btn:last-child {
  color: var(--fire-bush);
  background: transparent;
}

.btns .btn:last-child:hover {
  color: #fff;
  background: var(--fire-bush);
}

.btns .btn:first-child:hover {
  background: transparent;
  color: var(--fire-bush);
}

.products {
  padding: 6rem 0;
}

.products h2 {
  text-align: center;
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--granite-gray);
  margin-bottom: 3rem;
}

.product-item {
  margin: 1rem 0;
}

.product-img {
  background: var(--ghost-white);
  padding: 3rem 0;
  height: 350px;
  overflow: hidden;
  position: relative;
}

.product-img img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  margin: 0 auto;
  transition: var(--tans);
}

.product-img:hover img {
  opacity: 0.8;
}

.product-content {
  padding: 1.6rem 0;
  text-align: center;
}

.add-to-cart-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 0.75rem 1.2rem;
  font-size: 1rem;
  background-color: var(--baltic-sea);
  color: #fff;
  transition: var(--tans);
  opacity: 0;
}

.product-item:hover .add-to-cart-btn {
  opacity: 1;
}

.add-to-cart-btn .fas {
  margin-right: 5px;  
}

.add-to-cart-btn:hover {
  background-color: #23272a;
  color: var(--fire-bush);
}

.product-category {
  margin: 0.8rem 0;
  display: inline-block;
  font-weight: 500;
  background: var(--fire-bush);
  color: #fff;
  padding: 0.05rem 1.5rem;
  border-radius: 5px;
  letter-spacing: 2px;
}

.product-price {
  font-size: 1.15rem;
  font-weight: 500;
  opacity: 0.6;
}

footer {
  background: var(--baltic-sea);
}

.footer-banner {
  background: url("/images/footer-banner.jpg") center/cover;
  height: 500px;
  position: relative;
}

.footer-banner .wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  padding: 3rem 0;
  color: #fff;
  text-align: center;
}

/* footer .btn{
    margin-top: 0!important;
} */

.footer-banner .wrapper h2 {
  font-size: 1.5rem;
}

.footer-banner .btn:hover {
  color: var(--fire-bush);
  background: transparent;
}

/* .footer-banner .wrapper .text{
    line-height: 1.5;
  } */

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.social-icons a {
  color: var(--granite-gray);
  margin: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  font-size: 1.25rem;
  transition: var(--tans);
}

.social-icons a:hover {
  color: #fff;
}































/* media queries  */

@media (min-width: 480px) {
  .btns button {
    display: inline-block;
  }
  .btns button:first-child {
    margin-right: 0.4rem;
  }

  .navbar-brend{
      line-height: 1.5;
  }
}

@media (min-width: 576px) {
  .footer-banner .wrapper h2 {
    font-size: 2.4rem;
  }
}

@media (min-width: 680px) {
  .navbar {
    padding: 1.5rem 3rem !important;
  }

  .cart-container {
    width: 480px;
    left: auto;
    right: 3rem;
  }

  .product-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }

  .footer-banner {
    height: 400px;
  }
}

@media (min-width: 992px) {
  .navbar {
    padding: 1.5rem 6rem !important;
  }

  .cart-container {
    width: 480px;
    left: auto;
    right: 3rem;
  }

  .banner {
    padding-top: 0;
    display: grid;
    grid-template-columns: 55% 45%;
    align-content: center;
  }

  .banner-content {
    text-align: left;
  }

  .product-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1200px) {
  .navbar {
    padding: 1.5rem 3rem !important;
  }

  .cart-container {
    right: 14rem;
  }

  .banner-content h1 {
    font-size: 3.5rem;
  }

  .product-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
